.legal-move-dot {
    border-radius: 50%;
    /* Position with grid properties from inline style */
    pointer-events: none; /* Allows clicks to pass through to the square below */
    z-index: 100; /* Ensure it's above the pieces */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legal-move-dot::after {
    content: '';
    display: block;
    width: var(--legal-move-dot-size); /* Smaller inner dot */
    height: var(--legal-move-dot-size); /* Smaller inner dot */
    border-radius: 50%;
    background-color: var(--legal-move-dot-color); /* Dark Center */
    border: 4px solid #6CA054; /* Light Ring, increased thickness */
    box-shadow: 0 0 0 1px rgba(132, 132, 154, 0.5), 0 2px 5px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}
