.legal-move-dot {
    border-radius: 50%;
    pointer-events: none;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legal-move-dot::after {
    z-index: 100;
    content: '';
    display: block;
    width: var(--legal-move-dot-size);
    height: var(--legal-move-dot-size);
    border-radius: 50%;
    background-color: var(--legal-move-dot-color);
    border: 4px solid #6CA054;
    box-sizing: border-box;
}
