.chessboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 700px;
    height: 700px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.fen {
    visibility: hidden;
}
