:root {
    --square-size: 100px;
    --light-square: #ECE4B7;
    --dark-square: #63934D;
    --bg-color: #202020;
    --highlight-light-square: #D8C86E;
    --highlight-dark-square: #D4C25E;
    --drag-hover-light-border: #F6F3DF;
    --drag-hover-dark-border: #77AB5F;
    --legal-move-dot-color: rgba(0, 0, 0, 0.1);
    --legal-move-dot-size: 33%;
}
