.square {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.light {
  background-color: #e4f5e5;
}

.dark {
  background-color: #419457;
}

.square.light.selected {
  background-color: #8bb877;
}
.square.dark.selected {
  background-color: #1b6e31;
}
.notation {
    position: absolute;
    bottom: 0;
    right: 2px;
    font-size: 10px;
    opacity: 0.5;
}

.piece-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  z-index: 2;
}
