/* frontend/src/Square.css */

.square {
  /* Ensure squares fill their grid cell */
  width: 100%;
  height: 100%;
  
  /* Center the notation text (and piece later) */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Color classes */
.light {
  background-color: #e4f5e5; /* Light square color */
}

.dark {
  background-color: #419457; /* Dark square color */
}

/* Optional: style the notation */
.notation {
    position: absolute;
    bottom: 0;
    right: 2px;
    font-size: 10px;
    opacity: 0.5;
}

.piece-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  z-index: 2;
}
