.board {
    position: relative;
}

.squares {
    display: grid;
    grid-template-columns: repeat(8, var(--square-size));
    grid-template-rows: repeat(8, var(--square-size));
    width: calc(8 * var(--square-size));
    border-radius: 4px;
    overflow: hidden;
}

.square {

}

.square--light {
    background: var(--light-square);
    color: var(--light-square);
}

.square--dark {
    background: var(--dark-square);
    color: var(--dark-square);
}
